// Colors
$navDark:rgba(0, 0, 0, 0.85);
$navHover: rgb(55, 55, 55);
$navText: rgb(255, 255, 255);
$navLogo: rgb(3, 181, 3);

// Fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;
